body {
    background: url('https://i.pinimg.com/564x/29/ea/68/29ea68ac63d8b560e8a663d22534abe8.jpg') center/cover no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.formulario {
    margin-bottom: 20px;
    /* Espacio inferior entre el formulario y el enlace de Volver */
}

.card {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    border: 2px solid #ffffff; 
    position: relative;
}

.card h1 {
    color: #ff00ff;
    font-size: 24px;
    margin-bottom: 15px;
}

.card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para el enlace Volver */
.btn {
    margin-top: 15px;
    padding: 10px 28px;
    background-color: #b89db4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #ae00da;
}
.btn:active {
    background-color: #64007d;
}
.btn_enviar {
    padding: 10px 15px;
    background-color: #fe00fe;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0px;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px; 
}

.btn_enviar:hover {
    background-color: #ae00da;
}

.btn_enviar:active {
    background-color: #64007d;
}

body {
    text-align: center; 
}
