/* Estilos del contenedor principal */
.container {
    max-width: 400px;
    /* Ajusta el ancho según tus preferencias */
    margin: 0 auto;
    /* Centra el contenedor en la página */
    padding: 20px;
    /* Agrega espaciado alrededor del contenido */
    text-align: center;
    /* Centra el contenido del contenedor */
    background-color: #f5f5f5;
    /* Color de fondo del contenedor */
    border: 1px solid #ccc;
    /* Borde del contenedor */
    border-radius: 10px;
    /* Bordes redondeados del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Sombra del contenedor */
}

/* Estilos para el formulario */
.formulario {
    margin-bottom: 20px;
    /* Espacio inferior entre el formulario y el enlace de Volver */
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    border: 2px solid #ffd728; /* Yellow border */
}

.card h1 {
    color: #ffd728;
    font-size: 24px;
    margin-bottom: 15px;
}

.card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para el enlace Volver */
.btn {
    padding: 15px 30px;
    background-color: #ffd728;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #ae00da;
}
.btn:active {
    background-color: #64007d;
}
.btn_enviar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff954a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_enviar:hover {
    background-color: #ae00da;
}

.btn_enviar:active {
    background-color: #64007d;
}

body {
    text-align: center; /* Alinea todo el contenido en el centro horizontalmente */
}
