body {
    font-family: Arial, sans-serif;
    background: url('https://i.pinimg.com/564x/29/ea/68/29ea68ac63d8b560e8a663d22534abe8.jpg') center/cover no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Estilos para el menú */
#menu {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /* Agrega bordes redondeados para dar el aspecto de tarjeta */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

#menu ul li:last-child {
    margin-right: 0;
}

#menu ul a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    display: block;
}

#menu ul a:hover {
    color: #9900ff;
}

/* Estilos para los submenús desplegables */
#menu ul ul {
    display: none;
    position: absolute;
    background: #333;
    top: 100%;
    left: 0;
    width: 200px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#menu ul ul li {
    display: block;
    width: 100%;
}

#menu ul ul a {
    padding: 10px 20px;
    color: #fff;
}

#menu ul li:hover>ul {
    display: block;
}

/* Agregar una línea separadora entre los elementos del menú */
#menu ul li:not(:last-child) {
    border-right: 1px solid #ccc;
}