body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    text-align: center;
    border: 2px solid #ffd728; /* Yellow border */
}

.card h1 {
    color: #ffd728;
    font-size: 24px;
    margin-bottom: 15px;
}

.btn {
    padding: 15px 30px;
    background-color: #ffd728;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    border: 0px;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #ae00da;
}
.btn_enviar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff954a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn_enviar:hover {
    background-color: #7809ff;
}

.btn_enviar:active {
    background-color: #3e8e41;
}