body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #ccc;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn_enviar{
    padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn_enviar:hover{
    background-color: #45a049;
}
.btn_enviar:active{
    background-color: #3e8e41;
}
input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form {
    text-align: center;
}

.radio-label,
label,
input[type="number"],
input[type="submit"] {
    display: block;
    margin: 10px 0;
}
a.btn {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ffffff; /* Cambia el color del borde a rosado */
}

a.btn:hover {
    background-color: #ae00da;
}